# Dependencies and Setup

In [14]:
import pandas as pd
from datetime import datetime
import matplotlib
import statsmodels.api as sm
from matplotlib import pyplot as plt
import matplotlib.pyplot as plt

In [15]:
# Read from csv 
drug_related_deaths_df = pd.read_csv('Accidental_Drug_Related_Deaths_2012-2018 (2).csv')

In [16]:
# Removing unnecessary columns
narrowed_df = drug_related_deaths_df.loc[:,['ID','Date','Age','Sex','Race','DeathCity','DeathCityGeo','COD','Heroin','Cocaine','Fentanyl','FentanylAnalogue','Oxycodone','Oxymorphone','Ethanol','Hydrocodone','Benzodiazepine','Methadone','Amphet','Tramad','Morphine_NotHeroin','Hydromorphone','Other','OpiateNOS','AnyOpioid']]

In [17]:
narrowed_df

,ID,Date,Age,Sex,Race,DeathCity,DeathCityGeo,COD,Heroin,Cocaine,...,Hydrocodone,Benzodiazepine,Methadone,Amphet,Tramad,Morphine_NotHeroin,Hydromorphone,Other,OpiateNOS,AnyOpioid
0,14-0273,06/28/2014 12:00:00 AM,NaN,NaN,NaN,NaN,"CT\n(41.575155, -72.738288)","Acute fent, hydrocod, benzodiazepine",NaN,NaN,...,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13-0102,03/21/2013 12:00:00 AM,48.0,Male,Black,NORWALK,"Norwalk, CT\n(41.11805, -73.412906)",Cocaine Intoxication,NaN,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,16-0165,03/13/2016 12:00:00 AM,30.0,Female,White,DANBURY,"Danbury, CT\n(41.393666, -73.451539)",Acute Heroin and Cocaine Intoxication,Y,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
3,16-0208,03/31/2016 12:00:00 AM,23.0,Male,White,GREENWICH,"Greenwich, CT\n(41.026526, -73.628549)",Acute Fentanyl and Morphine Intoxication,Y,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
4,13-0052,02/13/2013 12:00:00 AM,22.0,Male,"Asian, Other",GREENWICH,"Greenwich, CT\n(41.026526, -73.628549)",Fentanyl Intoxication,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5100,15-0466,09/08/2015 12:00:00 AM,43.0,Male,White,CHESHIRE,"CHESHIRE, CT\n(41.498834, -72.901448)",Acute Intoxication due to the Combined Effects...,NaN,NaN,...,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5101,17-0618,07/22/2017 12:00:00 AM,21.0,Male,White,NEW HAVEN,"New Haven, CT\n(41.308252, -72.924161)","Multidrug Toxicity Including Heroin, Alprazola...",Y,NaN,...,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5102,18-0646,08/14/2018 12:00:00 AM,30.0,Male,White,DANBURY,"DANBURY, CT\n(41.393666, -73.451539)","Multidrug Toxicity Including Heroin, Fentanyl,...",Y,NaN,...,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,Y
5103,14-0124,03/16/2014 12:00:00 AM,33.0,Male,White,WINDSOR,"WINDSOR, CT\n(41.852781, -72.64379)",Acute Fentanyl intoxication,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5104,16-0637,09/15/2016 12:00:00 AM,33.0,Male,White,WATERBURY,"WATERBURY, CT\n(41.554261, -73.043069)",Acute Heroin Intoxication,Y,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y

In [18]:
# Drop records without Age, Sex and Race entry
narrowed_df = narrowed_df.dropna(subset=['Age', 'Sex','Race'], how='all')

In [19]:
# Fill Nan values by N
narrowed_df.update(narrowed_df[['Heroin','Cocaine','Fentanyl','FentanylAnalogue','Oxycodone','Oxymorphone','Ethanol','Hydrocodone','Benzodiazepine','Methadone','Amphet','Tramad','Morphine_NotHeroin','Hydromorphone','Other','OpiateNOS','AnyOpioid']].fillna('N'))

C:\Users\Kensuke Suzuki\Anaconda3\envs\python=3.6\lib\site-packages\pandas\core\frame.py:5732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = expressions.where(mask, this, that)

In [20]:
# Convert date column to Datetime object
narrowed_df['Date'] = pd.to_datetime(narrowed_df['Date'])

C:\Users\Kensuke Suzuki\Anaconda3\envs\python=3.6\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [21]:
narrowed_df

,ID,Date,Age,Sex,Race,DeathCity,DeathCityGeo,COD,Heroin,Cocaine,...,Hydrocodone,Benzodiazepine,Methadone,Amphet,Tramad,Morphine_NotHeroin,Hydromorphone,Other,OpiateNOS,AnyOpioid
1,13-0102,2013-03-21,48.0,Male,Black,NORWALK,"Norwalk, CT\n(41.11805, -73.412906)",Cocaine Intoxication,N,Y,...,N,N,N,N,N,N,N,N,N,N
2,16-0165,2016-03-13,30.0,Female,White,DANBURY,"Danbury, CT\n(41.393666, -73.451539)",Acute Heroin and Cocaine Intoxication,Y,Y,...,N,N,N,N,N,N,N,N,N,Y
3,16-0208,2016-03-31,23.0,Male,White,GREENWICH,"Greenwich, CT\n(41.026526, -73.628549)",Acute Fentanyl and Morphine Intoxication,Y,N,...,N,N,N,N,N,N,N,N,N,Y
4,13-0052,2013-02-13,22.0,Male,"Asian, Other",GREENWICH,"Greenwich, CT\n(41.026526, -73.628549)",Fentanyl Intoxication,N,N,...,N,N,N,N,N,N,N,N,N,N
5,14-0277,2014-06-29,23.0,Male,White,BRISTOL,"BRISTOL, CT\n(41.673037, -72.945791)",Heroin Intoxication,Y,N,...,N,N,N,N,N,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5100,15-0466,2015-09-08,43.0,Male,White,CHESHIRE,"CHESHIRE, CT\n(41.498834, -72.901448)",Acute Intoxication due to the Combined Effects...,N,N,...,N,Y,N,N,N,N,N,N,N,N
5101,17-0618,2017-07-22,21.0,Male,White,NEW HAVEN,"New Haven, CT\n(41.308252, -72.924161)","Multidrug Toxicity Including Heroin, Alprazola...",Y,N,...,N,Y,N,N,N,N,N,N,N,N
5102,18-0646,2018-08-14,30.0,Male,White,DANBURY,"DANBURY, CT\n(41.393666, -73.451539)","Multidrug Toxicity Including Heroin, Fentanyl,...",Y,N,...,N,N,N,N,Y,N,N,N,N,Y
5103,14-0124,2014-03-16,33.0,Male,White,WINDSOR,"WINDSOR, CT\n(41.852781, -72.64379)",Acute Fentanyl intoxication,N,N,...,N,N,N,N,N,N,N,N,N,N
5104,16-0637,2016-09-15,33.0,Male,White,WATERBURY,"WATERBURY, CT\n(41.554261, -73.043069)",Acute Heroin Intoxication,Y,N,...,N,N,N,N,N,N,N,N,N,Y

In [22]:
narrowed_df.index = pd.to_datetime(narrowed_df['Date'],format='%m/%y')
narrowed_df = narrowed_df.groupby(by=[narrowed_df.index.year,narrowed_df.index.month]).agg({'ID':'count'})
narrowed_df

             ID
Date   Date
2012.0 1.0   31
       2.0   27
       3.0   24
       4.0   30
       5.0   28
...          ..
2018.0 8.0   73
       9.0   92
       10.0  83
       11.0  89
       12.0  74

[84 rows x 1 columns]

In [23]:
df = narrowed_df .sort_values('Date', ascending=True)
# df
plt.plot(df['Date'], df['ID'])
# plt.xticks(rotation='vertical')

ValueError: The name Date occurs multiple times, use a level number

In [24]:
summary_stats_table = narrowed_df.rename(columns = {"Date" : "Year"})
summary_stats_table

             ID
Date   Date
2012.0 1.0   31
       2.0   27
       3.0   24
       4.0   30
       5.0   28
...          ..
2018.0 8.0   73
       9.0   92
       10.0  83
       11.0  89
       12.0  74

[84 rows x 1 columns]

In [25]:
df = narrowed_df.sort_values('Date', ascending=True)
plt.plot(df['Date'].count(), df['ID'])
plt.xticks(rotation='vertical')

ValueError: The name Date occurs multiple times, use a level number

In [26]:
start_date = datetime(2012,1,1)
end_date = datetime(2018,12,1)

narrowed_df[(start_date >= narrowed_df.index) & (narrowed_df.index <= end_date)].plot(grid='on')

TypeError: '<=' not supported between instances of 'tuple' and 'datetime.datetime'

In [27]:
# Accidental deaths per month
narrowed_df['Month'] = pd.DatetimeIndex(narrowed_df['Date']).month

# Accidental deaths per month
narrowed_df = narrowed_df.groupby('Month').count()

narrowed_df.reset_index(level=0, inplace=True)
deaths_per_month = narrowed_df.loc[:,['Month', 'ID']]
deaths_per_month = deaths_per_month.rename(columns={"ID": "Deaths Per Month"})
deaths_per_month.head()

KeyError: 'Date'

In [28]:
%matplotlib inline
deaths_per_month.plot(grid='on')

NameError: name 'deaths_per_month' is not defined